<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <link rel="stylesheet" href="/Content/Styles/main.css">
    <link rel="stylesheet" href="/Content/Styles/pattern-library.css">

    <script src="/Content/Scripts/main.js"></script>

    <script>document.createElement('picture');</script>
    <script src="/Content/Scripts/picturefill.min.js" async></script>
</head>
<body class="pl">
