@import 'breakpoint-sass/stylesheets/breakpoint';

@import 'pattern-library/pl-vars';
@import 'pattern-library/prism';
@import 'pattern-library/pl-code-toggle';
@import 'pattern-library/pl-item';


.pl {
    .wrapper {
        margin: 0 auto;
        max-width: $pl-max-width;
        padding: 1rem 1.5rem;
    }

    // Logo
    &-logo {
        background-color: $pl-primary;
        margin: 0 auto;
        max-width: 80em;

        &__img, &__body {
            display: inline-block;
            vertical-align: middle;
        }
        &__img {
            font-size: 0;
            line-height: 0;
        }
        &__body {
            color: white;
            font-size: 1.5rem;
            line-height: 1;
            padding-left: 0.25em;
            text-align: left;
        }
    }

    // Navigation
    &-nav-main, &-nav-sub {
        margin: 0 auto;
        max-width: $pl-max-width;

        ul {
            display: block;
            list-style: normal;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;

            @include mq(48em) {
                overflow-x: visible;
                overflow-y: visible;
            }


            > li {
                display: inline-block;

                a {
                    display: block;
                }
            }
        }
    }

    // Nav Main
    &-nav-main {
        background-color: $pl-gray-dark;

        a {
            color: white;
            padding: 1em 1.5em;
            text-decoration: none;
        }

        .active a,
        a:hover, &:active {
            position: relative;

            &:after {
                background: $pl-primary;
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }

    // Nav Sub
    &-nav-sub {
        border-bottom: 1px solid $pl-gray-light;
        font-size: 0.875em;

        ul {
            padding: 0 1em;
        }

        a {
            color: $pl-primary;
            padding: 1em 0.75em;
            text-decoration: none;

            &:hover, &:active {
                color: darken($pl-primary, 10%);
            }
        }
    }

    // Headings
    &-h-title {
        font-size: 1.75em;
        margin: 0 auto 1em auto;
        text-align: center;
        text-transform: uppercase;
    }

    // Main container
    &-main {
        padding: 0.5em 0;

        p {
            line-height: 1.5;
        }
    }
}
