<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pattern Library</title>

    <link rel="stylesheet" href="/Content/Styles/main.css">
    <link rel="stylesheet" href="/pattern-library/styles/pattern-library.css">

    <script src="/Content/Scripts/main.js"></script>

    <script>document.createElement('picture');</script>
    <script src="/Content/Scripts/picturefill.min.js" async></script>
</head>
<body class="pl">

    <header class="pl-page-head">
        <div class="pl-logo">
            <div class="wrapper">
                <a href="/pattern-library" class="pl-logo__img"><img src="http://placehold.it/150x60/CCCCCC/000000&text=Logo" alt="Logo"></a>
                <h1 class="pl-logo__body">Pattern Library</h1>
            </div>
        </div>
        <nav class="pl-nav-main">
            @@if (context.nav) {
                <input type="hidden" value="@@nav" id="navCurrent">
            }
            <ul>
                <li class="pl-nav__item pl-nav__item--basics"><a href="/pattern-library/basics">Basics</a></li>
                <li class="pl-nav__item pl-nav__item--fragments"><a href="/pattern-library/fragments">Fragments</a></li>
                <li class="pl-nav__item pl-nav__item--modules"><a href="/pattern-library/modules">Modules</a></li>
                <li class="pl-nav__item pl-nav__item--templates"><a href="/pattern-library/templates">Templates</a></li>
                <li class="pl-nav__item pl-nav__item--pages"><a href="/pattern-library/pages">Pages</a></li>
            </ul>
        </nav>
    </header>
