<section class="pl-set" id="colors">
    <h2 class="pl-h-title">Colors</h2>

    <article class="pl-item">
        <ul class="pl-colors">
            <li class="pl-colors__item pl-swatch" style="background-color: red;" data-color="red"></li>
            <li class="pl-colors__item pl-swatch" style="background-color: orange;" data-color="orange"></li>
            <li class="pl-colors__item pl-swatch pl-swatch--alt" style="background-color: yellow;" data-color="yellow"></li>
            <li class="pl-colors__item pl-swatch" style="background-color: green;" data-color="green"></li>
            <li class="pl-colors__item pl-swatch" style="background-color: blue;" data-color="blue"></li>
            <li class="pl-colors__item pl-swatch" style="background-color: indigo;" data-color="indigo"></li>
            <li class="pl-colors__item pl-swatch" style="background-color: violet;" data-color="violet"></li>
        </ul>
    </article>

</section>
