<section class="pl-set" id="typography">
    <h2 class="pl-h-title">Typography</h2>

    <article class="pl-item">
        <h3 class="pl-item__title pl-h-subtitle pl-code-toggle">Headings</h2>
        <div class="pl-item__code"></div>
        <div class="pl-item__preview">
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
        </div>
    </article>

    <article class="pl-item">
        <h3 class="pl-item__title pl-h-subtitle pl-code-toggle">Paragraphs</h2>
        <div class="pl-item__code"></div>
        <div class="pl-item__preview">
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus leo lectus, porttitor non euismod at, facilisis sit amet sapien. In consequat sit amet orci sed fringilla. Mauris semper elit at augue bibendum efficitur. Maecenas a mauris eget erat placerat interdum. Nulla dolor velit, pharetra vitae diam eu, cursus scelerisque elit. Praesent ornare ligula sit amet sagittis mattis.
</p>
        </div>
    </article>

</section>
