// Item
//----------------

.pl-item {
    margin-bottom: $pl-gutter-size;

    & + & {
        margin-bottom: $pl-gutter-size / 2;
    }

    &__title {
        color: black;
        border-bottom: 1px solid $pl-gray-light;
        font-family: $pl-font;
        font-size: 1em;
        padding-bottom: 0.25em;
        text-transform: uppercase;
    }

    &__code {
        display: none;
        font-size: $pl-code-size;
        margin-top: -0.875em;
    }

    &__preview {
        margin: 1em 0;
    }
}
