/**
 * Pattern library variables
 */

$pl-code-size: 12px;
$pl-max-width: 100rem;
$pl-gutter-size: 3em;

$pl-font: -apple-system, "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

// Colors
$pl-primary: #6caae4;
$pl-secondary: #003056;

$pl-gray-light: #ddd;
$pl-gray: #444;
$pl-gray-dark: #1a1a18;


$pl-width-md: 48em;
