/**
 * Color swatch
 */

.pl-swatch {
    margin: 0;
    position: relative;

    &:before {
        content: '';
        display: none;
    }

    &:after {
        color: #fff;
        content: attr(data-color);
        display: inline-block;
        font-family: $pl-font;
        left: 0.5em;
        bottom: 0.5em;
        position: absolute;
        text-align: left;
        text-transform: lowercase;
    }

    &--alt {
        &:after {
            color: #000;
        }
    }
}
