    <nav class="pl-nav-sub">
        @@if (navSub) {
            <input type="hidden" value="@@navSub" id="navSubCurrent">
        }
        <ul>
            <li class="pl-nav-sub__item sub-nav-1"><a href="#">Sub Nav 1</a></li>
            <li class="pl-nav-sub__item sub-nav-2"><a href="#">Sub Nav 2</a></li>
            <li class="pl-nav-sub__item sub-nav-3"><a href="#">Sub Nav 3</a></li>
            <li class="pl-nav-sub__item sub-nav-4"><a href="#">Sub Nav 4</a></li>
            <li class="pl-nav-sub__item sub-nav-5"><a href="#">Sub Nav 5</a></li>
        </ul>
    </nav>
